<% include ./partials/header %>
<div class="container"> 
    <h3>
       Welcome to the Profile Page </h3>
       
     <h1><%= currentUser.username %></h1>  

    
 
</div>

<% include ./partials/footer  %>